<html>
    <head>
        <title>Flask-SocketIO-Chat: {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" src="//travistidwell.com/jsencrypt/bin/jsencrypt.js"></script>

        <script type="text/javascript" charset="utf-8">


            
            var socket;





            $(document).ready(function(){
	
                var encrypt = new JSEncrypt();
                encrypt.setPublicKey($('#pubkey').val());;

                var decrypt = new JSEncrypt();
                decrypt.setPrivateKey($('#privkey').val());

                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    $('#chat').html($('#chat').html() + '<br><b>' + data.user+": "+data.msg + '</b>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    console.log(data.msg);
                    uncrypted = decrypt.decrypt(data.msg);

                    $('#chat').html($('#chat').html() + "<br><b>"+data.user+": </b>"+uncrypted + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        var encrypted = encrypt.encrypt(text);

                        $('#text').val('');
                        socket.emit('text', {msg: encrypted});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
        </script>
    </head>
    <body>
        <input type="hidden" id="privkey" rows="15" cols="65" value="{{private_key}}"><br/>

    <input type="hidden"  id="pubkey" rows="15" cols="65" value="{{public_key}}">


        <h1>Flask-SocketIO-Chat: {{ room }}</h1>
        <div id="chat" cols="80" rows="20"></div><br><br>
        <input id="text" size="80" placeholder="Enter your message here"><br><br>
        <a href="#" onclick="leave_room();">Leave this room</a>
    </body>
</html>
